/* css for nav bar */
nav{
    
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    background-color: rgb(12,16,39);
}
.options{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    
  
}
.logo{
    height: 5rem;
    border-radius: 50rem;
    margin-left: 3rem;
    margin-top: 2.3rem;
}
.logotext{
    padding-left: 1rem;
    font-size: 2rem;
}
.login img{
    height: 5rem;
    margin-top: 1.5rem;
    border-radius: 50rem;
}
.favourites{
    margin-left: 4rem;
    padding: 2rem;
    font-size: 1.5rem;
    
}
.search{
    /* display: inline-block; */
    float: right;
    margin-left: 30vw;
    
     background: url(https://icons8.com/icon/KPmthqkeTgDN/search) no-repeat scroll 7px 7px;

}

.search input{
    display: inline-block;
    margin-top: 2rem;
    height: 3rem;
    width: 20vw;
    background-color: rgb(6, 6, 6);
    opacity: 50%;
    border-radius: 50rem;
    padding-left: 2.5rem;
    background: url("search.png") no-repeat left; 
    background-size: 30px;
}
.login{
    
    display: flex;

}
.login p{
    display: block;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
}


/* end of css for nav bar  */
/* css for home page */
body{
    background-color: rgb(12,16,39);
    color: aliceblue;
}
.playlists{
    width: 60vw;
    margin-top: 3rem;
    display: flex;
}
.playlist1{
    height: 300px;
    padding: 3rem;
    transition: transform 200ms ease-in-out;

}

.playlist1:hover{
    transform: scale(1.5);
}



.latestrelease{
    margin-left: 3rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.songs{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    
}

.song{
    gap: 1rem;
    display: flex;
    margin-top: 20px;
    width: 500px;
    background-color: rgb(12,16,39);
    border-radius: 2rem;
}
.song img{
    height: 10rem;
    padding-left: 2rem;
    padding-top: 1rem;
}
.song i{
    font-size: 4rem;
    margin-top: 1rem;
}
.songname{
    padding: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    
}
.artistname{
    font-size: 24px;
    
}

.popular
{
    display: flex;
    height: 25rem;
    padding-left:1rem;
    padding-right: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}
.artist{
    padding-left:1rem;
    padding-right: 1rem;
    height:300px;
}
.populartext{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.artist img{
    margin-top: 0px;
    height: 300px;
    border-radius: 300rem;
}
.artist p{
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lefthalf {
    width: 60vw;
}

.queue {
float: right;

}
.queuesongs{
    
    display: block;
    overflow: auto;
    height: 70vh;
}
.queuesongs ul:hover {
    background-color: rgb(102, 104, 104);
    transition: 1s;
}
.queuesongs ul {
    font-size: 2rem;
    width: 60vh;
    display: flex;
    border-radius: 4rem;
    
    background-color: rgb(12,16,39);
}
.home{
    display: flex;
}
.queueheading{

    background-color: rgb(12,16,39);
    border-radius: 2rem;
    font-size: 3rem;
    font-weight: 1000;
    margin-right: 30rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.queuesongs ul img{
    border-radius: 100rem;
    height: 5rem;
    padding: 1rem;
}


/* artist info section */
.homeartist{
    display: flex;
    flex-wrap: wrap;
}
.notqueue {
    height: 40vh;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    
}
.artistinfo{
    display: flex;
    width: 60vw;
    border-radius: 4rem;
    background-color: rgb(20,27,65);
}
.data{
    padding-left: 4rem;
}
.artistinfo img{
    height:30vh;
    border-radius: 2rem;
}
.data div{
    display:flex;
}
.artistname{
     font-size: 4rem;
     font-family: 'Times New Roman', Times, serif;


}
.artistinfo2{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.followers{
    font-size: 2rem;
    margin-left: 18vw;
    margin-top: 4rem;
}

.playall{
    height: 4rem;
    width: 12rem;
    font-size: 2rem;
    background-image: linear-gradient(blue,purple);
    transition: transform .1s;
    border-radius: 3rem;

}
.playall:hover{

    background-color: rgb(203, 30, 238);
    transform: scale(1.5);

}
.follow{
    height: 4rem;
    width:12rem;
    font-size: 2rem;
    background-color: rgba(240, 255, 255, 0);
    border-radius: 4rem;
    transition: transform .1s;
}
.follow:hover{
    background-color: aqua;
    transform: scale(1.5);
}

.queuesongs ul i{
    margin-left: 15vw;
    margin-top: 2rem;
}

.stations{
    display: flex;
    padding: 1rem;
}

.stations img{
    height: 9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius:20rem ;
}

/* moods  */
.moods{
    display: flex;
}
.moods img{
    height: 12rem;
    padding: 4rem;
    transition: transform .1s;
}
.moods img:hover {
    transform: rotate(40deg);
    
}
.moods p{
    font-size: 2rem;
    padding: 2rem;
}
.stations p{
    font-size: 2rem;
    padding: 2rem;
}
.playlists2{
    margin-top: -20px;
    display: flex;
    margin-bottom: 15rem;
}
.playlists2 img{
    height: 10rem;
    padding: 2rem;

}

.search i{
    font-size: 2rem;
    padding: 1rem;
}
.artistpagesongs{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.artistpagesong{
    
    display: flex;
    background-color: rgb(26,30,51);
    width: 55vw;
}
.artistpagesong img{
    height: 4rem;
    
    padding: 1.5rem;
}
.artistpagesong p{
    font-size: 2rem;
}
.songicons{
    display: flex;
    margin-top: 2rem;
    margin-left: 25vw;
    font-size: 2rem;
}
.songicons i{
    padding: 1rem;
}
footer{
    position: fixed;
    display: flex;
left: 0;
text-align: center;
bottom: 0;
height: 8rem;
width: 100%;
color:#FFFFFF; 
background: #06303A;
font-size:1.5em;
line-height:100px;
}
footer img{
    margin-top: 1rem;
    height: 5rem;
    padding: 1rem;

}

.player audio{
    width: 50vw;
    margin-left: 10rem;
    height: 3rem;
    margin-top: 2rem;
}
.activesong{
    display: flex;
}
#rm{
    margin-top: -4rem;;
}
.ext{
    display: flex;
}
.ext i{
    padding-left: 2rem;
}
.fticon i{
    padding-left: 2rem;
}

.saq{
    display: flex;
    flex-direction: column;
}
